build
*.vscode
*.idea
__pycache__
.clangd
.cache

cmake-build-debug
compile_commands.json

.DS_Store
*.swp
*.swo

bazel-bin
bazel-genfiles
bazel-objectstore
bazel-out
bazel-testlogs

bazel-redis-sdk-cpp

go.sum

hack/Dockerfile.build

tags
.local
coverage
.build-include/
.build-tmp/
bin
.deps
.clion.source.upload.marker
docker-compose.yml
gopkg/genpb/*.go
